@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

html,
body {
  background-color: #e0e0e0;
}

* {
  font-family: 'Nunito Sans', sans-serif, Lato;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: grid;
  justify-items: center;
  row-gap: 30px;
  width: 100%;
  font-size: 60px;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  grid-template-rows: 270px;
  justify-items: center;
  align-items: center;
  column-gap: 30px;
}

.col {
  line-height: 4.5;
  cursor: pointer;
  text-align: center;
  height: 100%;
  width: 100%;

  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.win {
  background: red !important;
  color: white !important;
}

.header #O {
  color: lightseagreen;
}

.header #X {
  color: steelblue;
}

.container #O {
  color: lightseagreen;
  border-radius: 50px;
  border-radius: 50px;
  background: linear-gradient(225deg, #cacaca, #f0f0f0);
  box-shadow: -20px 20px 60px #bebebe,
    20px -20px 60px #ffffff;
}

.container #X {
  color: steelblue;
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

button {
  /* margin-top: 20px; */
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(225deg, #f0f0f0, #cacaca);
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  border: transparent;
  font-size: 30px;
  /* margin-top: 50px;
  margin-left: 50px; */
}

button:active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
}